body {
    background: #222 url("images/logo.png") no-repeat;
    background-size: 10em 10em;
    background-position: top right;
    padding-top: 1em;
}

.content {
    max-width: 800px;
    margin: 2em auto;
}

h1 {
    color: #fff;
    text-align: center;
    margin: .5em auto;
}

a {
    color: #fff;
    text-decoration: none;
}

.light a {
    color: #333;
}

ul {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}

nav {
    max-width: 33%;
    margin: 0 auto;

    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

nav a {
    flex: 'flex-grow';
    padding: 0.5em 1em;
}

.monster-detail {
    border: 1px solid #000;
    margin: 2em auto;
    opacity: 0.85;
    padding: 2em;
}

.monster-detail.fire,
.monster-list-item.fire {
    background-color: #f55;
}

.monster-detail.dark,
.monster-list-item.dark {
    background-color: #a6a;
}

.monster-detail.light,
.monster-list-item.light {
    background-color: #ddd;
}

.monster-detail.water,
.monster-list-item.water {
    background-color: #66e;
}

.monster-detail.wind,
.monster-list-item.wind {
    background-color: #cc6;
}

.monster-detail > table > thead th {
    padding: 0 0 1em 0;
}

.monster-detail td {
    background-color: #eee;
    border: 0;
    border-collapse: collapse;
    margin: 0;
    padding: 1em;
}

.monster-detail td:nth-of-type(1) {
    font-weight: bold;
    background-color: inherit;
}

.monster-detail td a,
nav a {
    background-color: #000;
    color: #fff;
}

.img-container {
    display: inline-block;
}

.img-container p {
    margin-top: 0;
}

.monster-img {
    max-height: 100px;
    max-width: 100px;
    min-height: 100px;
    min-width: 100px;
}

.monster-img.img-mini {
    max-height: 30px;
    max-width: 30px;
    min-height: 30px;
    min-width: 30px;
}

.monster-list-item {
    display: block;
    list-style-type: none;
    margin: 1em auto;
    max-width: 10em;
}

.monster-list-item a {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.monster-list-item.dark a:hover,
.monster-list-item.fire a:hover,
.monster-list-item.light a:hover,
.monster-list-item.water a:hover,
.monster-list-item.wind a:hover,
.monster-detail td a:hover,
nav a:hover {
    background-color: #fff;
    color: #000;
}

.monster-list-item a * {
    flex: 'flex-grow';
    margin: 0.5em 0;
}

.load-form {
    width: 5em;
    margin: 0 auto;
}
