{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'mons/style.css' %}" />

{% if monster_list %}
    <ul>
    {% for monster in monster_list %}
    <li class="monster-list-item {{ monster.element|lower }}">
        <a href="{% url 'mons:detail' monster.id %}">
            <span>
                {{ monster.awaken_name }}
            </span>
            <div class="monster-list-image-container">
                <img src="{{ monster.image_sleepy }}" alt="{{ monster.sleepy_name }} Sleepy Image" class="monster-img img-mini" />
            </div>
            <div class="monster-list-image-container">
                <img src="{{ monster.image_awake }}" alt="{{ monster.awaken_name }} Awakened Image" class="monster-img img-mini" />
            </div>
            
        </a>
    </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No monsters are available</p>
{% endif %}
